@font-face {
  font-family: "Montreal";
  src: url("./font/PPNeueMontreal-Book.woff") format("woff");
}
@font-face {
  font-family: "Montreal_italic";
  src: url("./font/PPNeueMontreal-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Editorial";
  src: url("./font/PPEditorialNew-Ultralight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Editorial_italic";
  src: url("./font/PPEditorialNew-UltralightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Montreal", "Editorial", "Montreal_italic", "Editorial_italic", "Pretendard-Regular";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0px;
}

ul, li, button, p, div {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.main_section {
  width: 100%;
  height: 1300px;
  position: relative;
}
.main_section .pdf_btn {
  display: flex;
  gap: 4px;
  position: absolute;
  top: 46px;
  right: 52px;
  width: 220px;
  height: 48px;
  border: 1px solid #000;
  padding-top: 12px;
  box-sizing: border-box;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
.main_section .pdf_btn .btn_txt {
  text-align: center;
  font-size: 24px;
  padding-bottom: 12px;
  box-sizing: border-box;
}
.main_section .main_title {
  padding: 200px 52px 0 52px;
  box-sizing: border-box;
  position: relative;
}
.main_section .main_title .main_copy {
  font-size: 24vh;
}
.main_section .main_title .main_copy .first_line {
  display: flex;
  gap: 54px;
}
.main_section .main_title .main_copy .first_line span {
  font-family: "Montreal_italic";
}
.main_section .main_title .main_copy p {
  font-family: "editorial_italic";
  font-size: 28vh;
  position: absolute;
  right: 52px;
}
.main_section .main_title .sub_copy {
  margin-top: 68px;
  margin-left: 68px;
}
.main_section .main_title .sub_copy li {
  font-size: 20px;
  margin-top: 8px;
}
.main_section .main_title .sub_copy li:first-child {
  font-size: 36px;
}
.main_section .main_title .sub_copy li:first-child span {
  font-family: "editorial_italic";
}
.main_section .image {
  position: absolute;
  bottom: 0;
  padding: 0 52px;
  box-sizing: border-box;
  width: 100%;
}
.main_section .image img {
  width: 100%;
  height: 380px;
}

.second_section {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 0 52px;
  box-sizing: border-box;
}
.second_section .title {
  font-size: 80px;
}
.second_section .info_section {
  width: 480px;
  margin-top: 52px;
}
.second_section .info_section .info {
  display: flex;
  gap: 32px;
  font-size: 20px;
  padding: 24px 0;
  border-bottom: 1px solid #000;
  align-items: center;
  margin-right: 28px;
}
.second_section .info_section .info:nth-child(4) {
  align-items: start;
}
.second_section .info_section .info:first-child {
  padding-top: 0;
}
.second_section .info_section .info .info_tit {
  width: 160px;
}
.second_section .info_section .info .info_sub li {
  margin-top: 16px;
}
.second_section .info_section .info .info_sub li:first-child {
  margin-top: 0;
}

.third_section {
  margin-top: 200px;
  background-color: #000;
  position: relative;
  padding-top: 24vh;
}
.third_section .bg_txt {
  color: #fff;
  position: sticky;
  width: 3000vh;
  top: 24vh;
  font-family: "Editorial";
  font-size: 36vh;
  vertical-align: baseline;
  animation: tt1 150s linear infinite;
}
.third_section .project_wrap {
  margin-top: -60vh;
  z-index: 1;
  position: relative;
  padding-bottom: 200px;
  height: 1800px;
}
.third_section .project_wrap .pj_item {
  margin-left: 52px;
}
.third_section .project_wrap .pj_item:nth-child(2) {
  position: absolute;
  top: 24%;
  right: 4%;
}
.third_section .project_wrap .pj_item:last-child {
  position: absolute;
  left: 25%;
  bottom: 12%;
}
.third_section .project_wrap .pj_item .pj_info {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}

.list_section {
  margin-top: 154px;
}
.list_section .list_title {
  font-size: 24px;
  margin-left: 52px;
}
.list_section ul {
  margin-top: 24px;
}
.list_section ul li {
  font-size: 12vh;
  padding: 24px 52px;
  border-top: 1px solid #000;
  position: relative;
}
.list_section ul li:hover {
  color: #fff;
}
.list_section ul li:hover:after {
  width: 100%;
}
.list_section ul li:after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #000;
  width: 0%;
  transition-duration: 0.3s;
}
.list_section ul li span {
  font-family: "editorial_italic";
}
.list_section ul li:last-child {
  border-bottom: 1px solid #000;
}

.last_section .title {
  padding: 200px 52px 0 52px;
  box-sizing: border-box;
  position: relative;
}
.last_section .title .copy {
  font-size: 24vh;
}
.last_section .title .copy .first_line {
  display: flex;
  gap: 54px;
}
.last_section .title .copy .first_line span {
  font-family: "Montreal_italic";
}
.last_section .title .copy p {
  font-family: "editorial_italic";
  font-size: 28vh;
  position: absolute;
  right: 52px;
}

@keyframes tt1 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-3000vh, 0, 0);
  }
}/*# sourceMappingURL=main.css.map */